Flow1.json
[{"id":"a66429e5.64c0a8","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"57582e0e.24eb1","type":"inject","z":"a66429e5.64c0a8","name":"","topic":"","payload":",,30.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":200,"wires":[["663cc818.a23708"]]},{"id":"4620ea35.3066d4","type":"inject","z":"a66429e5.64c0a8","name":"","topic":"","payload":",,35.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":300,"wires":[["663cc818.a23708"]]},{"id":"663cc818.a23708","type":"mqtt out","z":"a66429e5.64c0a8","name":"","topic":"mcs/DK8Td3BQ/0PKeMevWZ02Z1PpN/Temperature","qos":"2","retain":"","broker":"8ef870a5.c88f1","x":580,"y":260,"wires":[]},{"id":"8ef870a5.c88f1","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]