Flow2.json
[{"id":"15bf6594.c00ada","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"efa2bb9a.751ac8","type":"mqtt in","z":"15bf6594.c00ada","name":"","topic":"mcs/DK8Td3BQ/0PKeMevWZ02Z1PpN/+","qos":"2","datatype":"auto","broker":"8ef870a5.c88f1","x":220,"y":260,"wires":[["36f4aa45.33d666"]]},{"id":"36f4aa45.33d666","type":"csv","z":"15bf6594.c00ada","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":310,"y":380,"wires":[["8b2266ed.edb838"]]},{"id":"8b2266ed.edb838","type":"change","z":"15bf6594.c00ada","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[["40237841.586dc8"]]},{"id":"40237841.586dc8","type":"ui_gauge","z":"15bf6594.c00ada","name":"","group":"debe988.c4e3068","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":560,"wires":[]},{"id":"8ef870a5.c88f1","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"debe988.c4e3068","type":"ui_group","z":"","name":"Status","tab":"7aedd9ed.e97a58","order":1,"disp":true,"width":"6","collapse":false},{"id":"7aedd9ed.e97a58","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]